<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Oddo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F20F7F4F2DD374D60028F750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F20F7F602DD374D80028F750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F20F7F6A2DD374D80028F750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
